body {
    /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1F2039;
}

.header,
.footer {
    background-color: white;
}

.cta {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #8E86B5, #ACAEED);
    color: white;
    border-radius: 50px;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

p,
li {
    font-size: 1.1em;
    color: #F9F8FF;
}

h2 {
    color: #F9F8FF;
}

a {
    color: #242424;
    text-decoration: none;
}

em {
    color: #A5B4FC;
    font-style: normal;
}

.about-block {
    border-right: 1px solid #A5B4FC;
    border-bottom: 1px solid #A5B4FC;
}