* {
    margin: 0;
}

body {
    /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1F2039;
}

a {
    color: #242424;
    text-decoration: none;
}

em {
    color: #A5B4FC;
    font-style: normal;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #F9F8FF;
}

p,
li {
    font-size: 1.1em;
    color: #F9F8FF;
}

header,
footer {
    background-color: white;
    padding: 20px 50px;
    max-height: 45px;
}
footer div img {
    max-height: 45px;
}

.cta {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #8E86B5, #ACAEED);
    color: white;
    border-radius: 50px;
    padding: 21px 38px;
}

a:hover {
    text-decoration: underline;
}

.cta:hover {
    background: linear-gradient(to right, #696484, #8788BA);
    text-decoration: none;
}

.link-icon {
    margin-left: 30px;
}

.link-icon:hover {
    opacity: 0.5;
}

.about-block {
    border-right: 1px solid #A5B4FC;
    border-bottom: 1px solid #A5B4FC;
    padding: 50px;
    margin-bottom: 80px;
}

.about-block h2 {
    margin-top: 30px;
}

.about-block ul {
    margin-top: 30px;
}

.about-block + div {
    text-align: center;
}

section {
    padding: 80px;
}

.a-propos-main {
    margin: auto;
    width: 50%
}

footer,
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin-left: 30px;
}

.home-photo-grid {
    background-color: white;
    padding: 80px;
}

.home-photo-grid h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
}

.home-photo-grid div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
}

.home-presentation {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: flex-start;
    margin: auto;
}

.home-presentation h1 {
    margin-bottom: 15px;
}

.home-presentation p {
    margin-bottom: 30px;
}

.home-presentation div {
    padding-right: 80px;
}

.portfolio-section-photos {
    background-color: white;
}

.portfolio-section-photos h2 {
    color: #242424;
    margin-bottom: 80px;
}

.landscapes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 15px;
    margin-bottom: 80px;
}

.portraits-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 15px;
}

.landscapes-grid img,
.portraits-grid img {
    width: 100%;
    height: 100%;
    /* Même si vous ne connaissez pas cette propriété, vous en aurez besoin pour permettre aux images de respecter les dimensions de la grid CSS */
    object-fit: cover;
}

.photo-container-link {
    position: relative;
}

.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    display: none;
}

.photo-container-link:hover .photo-hover {
    display: flex;
}
