.about-block {
    border-right: 1px solid #A5B4FC;
    border-bottom: 1px solid #A5B4FC;
    padding: 50px;
    margin: auto;
    margin-bottom: 80px;
    width: 50%;
}

.about-block h2 {
    margin-top: 30px;
}

.about-block ul {
    margin-top: 30px;
}

.about-block+div {
    text-align: center;
}

.a-propos-main {
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}

td,
th {
    border: 1px solid #A5B4FC;
    padding: 15px;
    text-align: center;
    font-weight: normal;
}

td {
    padding: 80px;
}

h2 {
    margin-bottom: 80px;
    font-weight: normal;
}

h1,
h2 {
    text-align: center;
}

@media screen and (max-width: 996px) {
    .pricing-section {
        display: none;
    }
}
