.home-photo-grid {
    background-color: white;
    padding: 80px;
}

.home-photo-grid h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
}

.home-photo-grid div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
}

.home-presentation {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-items: flex-start;
    margin: auto;
}

.home-presentation h1 {
    margin-bottom: 15px;
}

.home-presentation p {
    margin-bottom: 30px;
}

.home-presentation div {
    padding-right: 80px;
}

.contact-section h2 {
    color: #a5b4fc;
    text-align: center;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    color: white;
    margin: auto;
}

.form-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1; /* equivalent to flex: 1 0 100% with values flex-grow flex-shrink flex-basis
    flex-grow (occupy space as possible), flex-shrink (shrink if space is smaller), flex-basis (default size) */
}

.form-contact-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

label {
    margin-bottom: 10px;
}

input,
textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
}

input[type="submit"] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

@media screen and (max-width: 996px) {
    .form-contact-info {
        flex-direction: column;
    }

    .home-presentation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-presentation div {
        padding-right: 0;
        text-align: center;
        order: 2;
    }

    .home-presentation img {
        order: 1;
        margin-bottom: 20px;
        width: 100%;
    }

    .home-photo-grid {
        padding: 20px;
    }

    .home-photo-grid div {
        flex-direction: column;
    }

    .contact-section {
        padding: 50px 20px;
    }

    .form-contact-info {
        flex-direction: column;
        gap: 0;
    }
}
